* {
	font-family: "Hack";
}
body {
	background-color: rgb(217,195,165);
	margin: 0px;
}
#wrapper {
	position: absolute;
	display: flex;
	height: 100vh;
}
#sidebar {
	color: rgb(217,195,165);
	flex-shrink: 0;
	display: inline-flex;
	flex-direction: column;
	height: 100vh;
	width: 375px;
	justify-content: center;
}
#sidebar h1 {
	margin-left: 10%;
}
#sidebar ul li {
	list-style: none;
	text-decoration: none;
	padding-bottom: 20px;
}
#sidebar ul li:hover {
	color: rgb(205, 182, 78);
}
#content {
	margin: 50px 80px 50px 40px;
	color: rgb(67,48,41);
	overflow: auto;
	min-height: 0;
}
#about h1{
	color: rgb(72, 91, 106);
}
#work h1 {
	color: rgb(196, 90, 103);
	color: rgb(71, 92, 57);
}
#random h1 {
	color: rgb(194, 90, 56);
}
@font-face {
	font-family: "Hack";
	src: url(Fonts/Hack-Regular.ttf);
}
@font-face {
	font-family: "Hack";
	src: url(Fonts/Hack-Bold.ttf);
	font-weight: bold;
}
