* {
	font-family: "Hack";
}
body {
	background-color: rgb(217,195,165);
	margin: 0px;
}
#wrapper {
	display: flex;
	height: 100vh;
}
#sidebar {
	color: rgb(217,195,165);
	flex-shrink: 0;
	display: inline-flex;
	flex-direction: column;
	height: 100vh;
	width: 375px;
	justify-content: center;
}
#sidebar h1 {
	margin-left: 10%;
}
#sidebar h1::after {
	content:"_";
	animation: blink 1.5s step-end infinite;
}
#sidebar ul li {
	list-style: none;
	text-decoration: none;
	padding-bottom: 20px;
}
#sidebar a {
	color: rgb(217,195,165);
	text-decoration: none;
	padding-left: 10px;
}
#sidebar a:hover {
	color: rgb(214, 192, 103);
}
#content {
	margin: 30px;
	color: rgb(85,63,55);
	overflow: auto;
	min-height: 0;
	padding-right: 30px;
	scroll-behavior: smooth;	
}
#about h1{
	color: rgb(90, 111, 125);
}
#work h1 {
	color: rgb(89, 109, 75);
}
#random h1 {
	color: rgb(205, 111, 76);
}
#content::-webkit-scrollbar{
	width: 10px;
	border: solid 30px transparent;
}
#content::-webkit-scrollbar-thumb {
	background-color: rgb(85,63,55);
	border: solid 30px transparent;
}
@media only screen and (max-width: 800px) {
	#wrapper {
		flex-direction: column;
		width: 100vw;
	}
	#sidebar {
		flex-direction: row;
		height: 200px;
		width: 100vw;
	}
	#sidebar h1 {
		margin-top: 20px;
	}
	#sidebar ul li {
		margin-top: 55px;
		padding-left: 10px;
		float: left;
	}
	#content {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
@media only screen and (max-width: 500px) {
	#sidebar ul li {
		display: none;
	}
	#content::-webkit-scrollbar {
		display: none;
	}
}
@font-face {
	font-family: "Hack";
	src: url(Fonts/Hack-Regular.ttf);
}
@font-face {
	font-family: "Hack";
	src: url(Fonts/Hack-Bold.ttf);
	font-weight: bold;
}
@keyframes blink {
	0%{opacity: 0;}
	50%{opacity: 0;}
	50.01%{opacity: 1;}
	100%{opacity: 1;}
}
