* {
	font-family: "Hack";
	color: rgb(217,195,165);
}
body {
	background-color: rgb(217,195,165);
	margin: 0px;
}
#sidebar {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 250px;
	justify-content: center;
}
#sidebar h1 {
	margin-left: 15%;
}
#sidebar ul li {
	list-style: none;
	text-decoration: none;
	padding-bottom: 20px;
}
#sidebar ul li:hover {
	color: rgb(205, 182, 78);
}
.paragraph {
	position: relative;
	left: 400px;
	right: 20px;
}
@font-face {
	font-family: "Hack";
	src: url(Fonts/Hack-Regular.ttf);
}
@font-face {
	font-family: "Hack";
	src: url(Fonts/Hack-Bold.ttf);
	font-weight: bold;
}
