.wrapper {
  display: flex;
}

.content {
  display: table;
  flex: 1;
  margin: 30px;
  color: rgb(85, 63, 55);
  justify-content: center;
  overflow: auto;
  padding-right: 30px;
  scroll-behavior: smooth;
  z-index: -99999;
}

.text {
  color: rgb(85, 63, 55);
}

.text-home {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

nav {
  color: rgb(217, 195, 165);
  top: 0;
}

.nav-links {
  list-style: none;
  text-decoration: none;
  display: flex;
}

.title {
  font-family: Hack-bold;
  font-size: xx-large;
}

.title::after {
  content: "_";
  animation: blink 1.5s step-end infinite;
}

.nav-link:hover {
  font-family: Hack-bold;
  color: rgb(203, 107, 124);
}

.nav-link {
  color: rgb(217, 195, 165);
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .wrapper {
    flex-direction: row;
  }

  nav {
    flex-shrink: 0;
    display: inline-flex;
    flex-direction: column;
    height: 100vh;
    width: 375px;
    justify-content: center;
    position: sticky;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-link {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 799px) {
  .wrapper {
    flex-direction: column;
  }

  nav {
    flex-shrink: 0;
    display: inline-flex;
    flex-direction: row;
    height: 125px;
    justify-content: center;
    position: sticky;
  }

  .nav-links {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .nav-link {
    margin-left: 40px;
  }

  .first-nav {
    margin-left: 0px;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.01% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Hack";
  src: url(Fonts/Hack-Regular.ttf);
}

@font-face {
  font-family: "Hack";
  src: url(Fonts/Hack-Bold.ttf);
  font-weight: bold;
}

.profile-picture {
  height: 150px;
  border-radius: 50%;
  border-color: rgb(85, 63, 55);
  border-width: 5px;
  border-style: solid;
}
